body {
  font-family: Montserrat-medium;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: Montserrat-black;
  line-height: 1.4;
  font-size: 3.3rem;
  font-weight: bolder;
}

h3 {
  font-family: Montserrat-bold;
}

h2 {
  font-family: Montserrat-bold;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-top: 50px;
}

/*
testimonials-quato <h2> */
.testimonials-quato {
  padding: 2% 16%;
}

/* pricing-h2 */
.pricing-h2 {
  font-size: 50px;
}

/* pricing-p */
.pricing-p {
  font-size: 20px;
}

p {
  color: grey;
}

.container-fluid {
  padding: 4% 15% 6%;
}

/* navbar-brand */
.navbar-brand {
  font-family: Ubuntu;
  font-size: 30px;
}

.navbar {
  padding-bottom: 0 3.5rem;
}

.nav-item {
  padding: 0 13px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-light;
  font-weight: bold;
}

/* Download button */
.Download-button {
  margin: 4% 3% 0 0;
}

.col-lg-6 {
  margin-top: 35px;
}

/* Title-image */
.Title-image {
  width: 18%;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}

@media (max-width: 1028px) {
  .Title-image {
    position: static;
    text-align: center;
    transform: rotate(0deg);
    width: 50%;
  }

  #title {
    text-align: center;
  }
}

/* Features  */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.Feature-box {
  text-align: center;
  padding: 4%;
}

.icon {
  color: #ff4c68;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #DDDDDD;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #FD5D5D;
  color: #fff;
}

.testimonials-img {
  width: 8%;
  border-radius: 100%;
  margin: 20px;
}

/* press */
#press {
  background-color: #FD5D5D;
  padding-bottom: 2%;
  text-align: center;
}

.press-img {
  width: 13%;
  margin: 4% 3% 4%;
}

/* pricing */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  padding: 8% 15%;
  text-align: center;
  width: auto;
  color: #fff;
}

.cta-h3 {
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.3;
}

.button-cta {
  margin: 40px 2% 0 0;
}

/* footer */
#footer {
  padding: 5% 15%;
  text-align: center;
}

.social-icon {
  margin: 15px 10px;
}
